@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}

* {
    font-family: Poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}